<div class="fundo">
    <div class="row justify-content-end my-2" style="margin-right: 1%; padding-top:2%;">
        <div class="col-md-12 col-xl-4">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Nome</span>
                </div>
                <input type="text" class="form-control" placeholder="Ex: André" aria-label="Cliente"
                    aria-describedby="basic-addon1" name="filtro" [(ngModel)]="filter">
            </div>
        </div>
        <div class="col-md-12 col-xl-1">
            <div class="text-right">
                <a class="btn btn-outline-success btn-block" [routerLink]="['/formulario/medicos']" routerLinkActive="router-link-active"  role="button"><i
                        class="fas fa-plus"></i></a>
            </div>
        </div>

    </div>
    <div class="row justify-content-center mt-2">
        <div class="col-md-12">
            <div class="text-center" *ngIf="!existemClientes()">
                <div class="alert alert-danger" role="alert">
                    Nenhum cliente cadastrado
                </div>
            </div>
        </div>
    </div>
    <div class="table-responsive mt-3">
        <table id=clientes class="table table-bordeless table-hover">
            <thead>
                <tr>
                    <th scope="col" (click)="sort('nome')">Nome <span *ngIf="key =='nome'">{{reverse ? '▲' : '▼'}}</span></th>
                    <th scope="col">Telefone</th>
                    <th scope="col">E-mail</th>
                    <th scope="col">CRM</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr
                    *ngFor="let medico of medicos | filter:filter | orderBy: key : reverse | paginate: { itemsPerPage: 5, currentPage: paginaAtual }">
                    <th scope="row">{{medico.nome}}</th>
                    <td>{{medico.telefone}}</td>
                    <td>{{medico.email}}</td>
                    <td>{{medico.crm}}</td>
                    <td>
                        <div class="btn-group" role="group" aria-label="Exemplo básico">
                            <button type="button" class="btn btn-outline-warning btl-sm ml-1"
                                [routerLink]="['/cliente/editar', medico.id]" routerLinkActive="router-link-active"><i
                                    class="fas fa-edit"></i></button>
                            <button type="button" class="btn btn-outline-danger btl-sm ml-1"
                                (click)="deletaMedicos(medico.id)"><i class="fas fa-trash-alt"></i></button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-12 col-xl-10" align="center">
            <pagination-controls (pageChange)="paginaAtual = $event" previousLabel="" nextLabel="">
            </pagination-controls>
        </div>
    </div>
</div>