<div class="row justify-content-center">
    <div class="col-md-12 col-xl-8">
        <div class="card">
            <div class="card-header">
                Cadastrar
            </div>
            <div class="card-body">
                <app-form-clientes (outputCliente)="addCliente($event)"></app-form-clientes>
            </div>
        </div>
    </div>
</div>
