<form #f="ngForm" (ngSubmit)="onSubmit()">
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Nome</span>
        </div>
        <input type="text" #nome="ngModel" [class.is-invalid]="!nome.valid && nome.touched" class="form-control"
            name="nome" placeholder="Nome do cliente" aria-label="Nome do cliente" aria-describedby="basic-addon1"
            [(ngModel)]="cliente.nome" required>
        <div *ngIf="!nome.valid && nome.touched" class="invalid-feedback">
            <div class="alert alert-danger" role="alert">
                Coloque o <b>NOME</b> do cliente
            </div>
        </div>
    </div>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Telefone</span>
        </div>
        <input type="text" #telefone="ngModel" maxlength="10" [class.is-invalid]="!telefone.valid && telefone.touched" class="form-control"
            name="telefone" placeholder="Nome do cliente" aria-label="Telefone do cliente" aria-describedby="basic-addon1"
            [(ngModel)]="cliente.telefone" required>
        <div *ngIf="!telefone.valid && telefone.touched" class="invalid-feedback">
            <div class="alert alert-danger" role="alert">
                Coloque o <b>TELEFONE</b> do cliente
            </div>
        </div>
    </div>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <label class="input-group-text" for="inputGroupSelect01">Sexo</label>
        </div>
        <select #sex='ngModel' [class.is-invalid]="!sex.valid && sex.touched" class="custom-select" id="sexo"
            name="situacao" [(ngModel)]="cliente.sexo">
            <option [ngValue]="undefined">Selecione...</option>
            <option value="M" selected>Masculino</option>
            <option value="F">Feminino</option>
        </select>
        <div *ngIf="!sex.valid && sex.touched" class="invalid-feedback">
            <div class="alert alert-danger" role="alert">
                Coloque o <b>SEXO</b> do cliete.
            </div>
        </div>
    </div>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Endereço</span>
        </div>
        <input type="text" #endereco="ngModel" [class.is-invalid]="!endereco.valid && endereco.touched" class="form-control"
            name="nome" placeholder="Nome do cliente" aria-label="Nome do cliente" aria-describedby="basic-addon1"
            [(ngModel)]="cliente.endereco" required>
        <div *ngIf="!endereco.valid && endereco.touched" class="invalid-feedback">
            <div class="alert alert-danger" role="alert">
                Coloque o <b>Endereço</b> do cliente
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-12 div col-xl-2 cadastrar">
            <button class="btn btn-outline-primary btn-block" type="submit" [disabled]="!f.valid"><i
                    class="fas fa-check"></i></button>
        </div>
        <div class="col-md-12 col-xl-2">
            <a class="btn btn-outline-dark btn-block" href="javascript:history.back()"><i class="fas fa-reply"></i></a>
        </div>
    </div>
</form>