<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">{{titulo}}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/lista/clientes']" [routerLinkActive]="['active']">Pacientes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/lista/medicos']" [routerLinkActive]="['active']">Médicos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/lista/consultas']" [routerLinkActive]="['active']">Consultas</a>
            </li>
        </ul>
    </div>
</nav>