<form #f="ngForm" (ngSubmit)="onSubmit()">
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Nome</span>
        </div>
        <input type="text" #nome="ngModel" [class.is-invalid]="!nome.valid && nome.touched" class="form-control"
            name="nome" placeholder="Nome do cliente" aria-label="Nome do cliente" aria-describedby="basic-addon1"
            [(ngModel)]="medico.nome" required>
        <div *ngIf="!nome.valid && nome.touched" class="invalid-feedback">
            <div class="alert alert-danger" role="alert">
                Coloque o <b>NOME</b> do médico
            </div>
        </div>
    </div>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Telefone</span>
        </div>
        <input type="text" maxlength="10" #tele="ngModel" [class.is-invalid]="!tele.valid && tele.touched" class="form-control"
            name="endereco" placeholder="Endereço do cliente" aria-label="Usuário" aria-describedby="basic-addon1"
            [(ngModel)]="medico.telefone" required>
        <div *ngIf="!tele.valid && tele.touched" class="invalid-feedback">
            <div class="alert alert-danger" role="alert">
                Coloque o <b>TELEFONE</b> do médico
            </div>
        </div>
    </div>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">E-mail</span>
        </div>
        <input type="email" #email="ngModel" [class.is-invalid]="!email.valid && email.touched" class="form-control"
            name="compra" placeholder="E-mail do médico" aria-label="Usuário" aria-describedby="basic-addon1"
            [(ngModel)]="medico.email" required>
        <div *ngIf="!email.valid && email.touched" class="invalid-feedback">
            <div class="alert alert-danger" role="alert">
                Coloque o <b>E-MAIL</b> do médico
            </div>
        </div>
    </div>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">CRM</span>
        </div>
        <input type="text" #crm="ngModel" [class.is-invalid]="!crm.valid && crm.touched" class="form-control"
            name="venda" placeholder="Valor de venda do produto" aria-label="Usuário" aria-describedby="basic-addon1"
            [(ngModel)]="medico.crm" required>
        <div *ngIf="!crm.valid && crm.touched" class="invalid-feedback">
            <div class="alert alert-danger" role="alert">
                Coloque o <b>CRM</b> do médico
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-12 div col-xl-2 cadastrar">
            <button class="btn btn-outline-primary btn-block" type="submit" [disabled]="!f.valid"><i
                    class="fas fa-check"></i></button>
        </div>
        <div class="col-md-12 col-xl-2">
            <a class="btn btn-outline-dark btn-block" href="javascript:history.back()"><i class="fas fa-reply"></i></a>
        </div>
    </div>
</form>