<form #f="ngForm" (ngSubmit)="onSubmit()">
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Código do cliente</span>
        </div>
        <input type="text" #codigoC="ngModel" [class.is-invalid]="!codigoC.valid && codigoC.touched" class="form-control"
            name="nome" placeholder="Nome do cliente" aria-label="Nome do cliente" aria-describedby="basic-addon1"
            [(ngModel)]="consultas.pacienteID" required>
        <div *ngIf="!codigoC.valid && codigoC.touched" class="invalid-feedback">
            <div class="alert alert-danger" role="alert">
                Coloque o <b>Código</b> do paciente
            </div>
        </div>
    </div>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Código do médico</span>
        </div>
        <input type="text" #codigoM="ngModel" [class.is-invalid]="!codigoM.valid && codigoM.touched" class="form-control"
            name="nome" placeholder="Nome do cliente" aria-label="Nome do cliente" aria-describedby="basic-addon1"
            [(ngModel)]="consultas.medicoID" required>
        <div *ngIf="!codigoM.valid && codigoM.touched" class="invalid-feedback">
            <div class="alert alert-danger" role="alert">
                Coloque o <b>Código</b> do médico
            </div>
        </div>
    </div>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Dia</span>
        </div>
        <input type="date" #dia="ngModel" [class.is-invalid]="!dia.valid && dia.touched" class="form-control"
            name="nome" placeholder="Nome do cliente" aria-label="Nome do cliente" aria-describedby="basic-addon1"
            [(ngModel)]="consultas.data" required>
        <div *ngIf="!dia.valid && dia.touched" class="invalid-feedback">
            <div class="alert alert-danger" role="alert">
                Coloque o <b>Dia</b> da consulta
            </div>
        </div>
    </div>
    
    <div class="row justify-content-center">
        <div class="col-md-12 div col-xl-2 cadastrar">
            <button class="btn btn-outline-primary btn-block" type="submit" [disabled]="!f.valid"><i
                    class="fas fa-check"></i></button>
        </div>
        <div class="col-md-12 col-xl-2">
            <a class="btn btn-outline-dark btn-block" href="javascript:history.back()"><i class="fas fa-reply"></i></a>
        </div>
    </div>
</form>